<details <%= "open" if params[:id]%>>
    <summary>Отфильтровать логи</summary>
    <%= form_with url: url, method: :get do |form| %>
        <p>
        <%= form.number_field :id, value: params[:id] %>
        <%= form.label :id, " - id" %>
        </p>
        <p>
        <%= form.text_field :request_id, value: params[:request_id] %>
        <%= form.label :request_id, " - request_id"%>
        </p>
        <p>
        <%= form.text_field :ip, value: params[:ip] %>
        <%= form.label :ip, " - ip"%>
        </p>
        <p>
        <%= form.text_field :method, value: params[:method] %>
        <%= form.label :method, " - method"%>
        </p>
        <p>
        <%= form.text_field :path, value: params[:path] %>
        <%= form.label :path, " - path"%>
        </p>
        <p>
        <%= form.check_box :exact_path, checked: (params[:exact_path] == '1' ? true : false) %>
        <%= form.label :exact_path, "Точное совпадение path" %>
        </p>
        <p>
        <%= form.text_field :get_parameters, value: params[:get_parameters] %>
        <%= form.label :get_parameters, " - get параметры"%>
        </p>
        <p>
        <%= form.text_field :post_parameters, value: params[:post_parameters] %>
        <%= form.label :post_parameters, " - post параметры"%>
        </p>
        <%= form.submit "Отфильтровать" %>
    <% end %>
    <br>
    <%= button_to "Очистить", url, method: :get %>
</details>
<hr>