<h2>Логи приложения из файла log/production.log</h2>

<p>
<%= link_to 'Вернуться в панель администратора', admin_root_path%>
<%= link_to "Показат все логи одной страницей", admin_logs_from_file_all_path%>
<%= form_with url: admin_logs_from_file_path, method: :get do |form|%>
    <%= form.text_field :filter, value: params[:filter]%>
    <%= form.submit "Поиск"%>
<% end %>
<%= button_to "Очистить", admin_logs_from_file_path, method: :get %>
</p>

<div>
    <% line_indentation = (@current_page * 20).to_s.size %>
    <% @logs.each_with_index do |log, idx| %>
        <% current_line = (@current_page - 1) * 20 + idx + 1 %>
        <span style="white-space:pre"><%= "#{current_line}#{"  " * (line_indentation - (current_line).to_s.size)} |" %></span>
        <%= log %>
        <br>
    <% end %>
</div>

<p>
Страница <%= @current_page %> из <%= @last_page %>
<% unless @current_page == 1 %>
    <%= link_to(
          "Начальная страница",
          admin_logs_from_file_path + (params[:filter] ? "?filter=#{params[:filter]}" : "") 
        )
    %>
<% end %>
<span style="white-space:pre">     </span>
<% unless @current_page == @last_page %>
    <%= link_to(
          "Конечная страница",
          admin_logs_from_file_path + "?current_page=#{@last_page}" + (params[:filter] ? "?filter=#{params[:filter]}" : "") 
        )
    %>
<% end %>
</p>

<p>
<% unless @current_page == 1 %>
    <%= link_to(
          "Предыдущая страница(shift + ←)",
          admin_logs_from_file_path + "?current_page=#{@current_page - 1}" + (params[:filter] ? "&filter=#{params[:filter]}" : ""),
          id: "left"
        )
    %> 
<% end %>
<span style="white-space:pre">           </span>
<% unless @current_page == @last_page %>
    <%= link_to(
          "Следующая страница(shift + →)", 
          admin_logs_from_file_path + "?current_page=#{@current_page + 1}" + (params[:filter] ? "&filter=#{params[:filter]}" : ""),
          id: "right"
        )
    %>
<% end %>
</p>

<%= form_with url: admin_logs_from_file_path, method: :get do |form| %>
    <%= form.hidden_field :filter, value: params[:filter]%>
    <%= form.submit "Перейти на " %>
    <%= form.number_field :current_page %>
<% end %>