<h2>Логи из контроллера</h2>

<p>
<%= link_to 'Вернуться в панель администратора', admin_root_path %>
<%= link_to(
      'Показать все логи из контроллера одной страницей', 
      admin_logs_from_controllers_all_path(filter_params) 
    )%>
</p>

<details <%= "open" if params[:id]%>>
    <summary>Отфильтровать логи</summary>
    <%= form_with url: admin_logs_from_controllers_path, method: :get do |form| %>
        <p>
        <%= form.number_field :id, value: params[:id] %>
        <%= form.label :id, " - id" %>
        </p>
        <p>
        <%= form.text_field :request_id, value: params[:request_id] %>
        <%= form.label :request_id, " - request_id"%>
        </p>
        <p>
        <%= form.text_field :ip, value: params[:ip] %>
        <%= form.label :ip, " - ip"%>
        </p>
        <p>
        <%= form.text_field :method, value: params[:method] %>
        <%= form.label :method, " - method"%>
        </p>
        <p>
        <%= form.text_field :path, value: params[:path] %>
        <%= form.label :path, " - path"%>
        </p>
        <p>
        <%= form.check_box :exact_match, checked: (params[:exact_match] == '1' ? true : false) %>
        <%= form.label :exact_match, "Точное совпадение path" %>
        </p>
        <p>
        <%= form.text_field :get_parameters, value: params[:get_parameters] %>
        <%= form.label :get_parameters, " - get параметры"%>
        </p>
        <p>
        <%= form.text_field :post_parameters, value: params[:post_parameters] %>
        <%= form.label :post_parameters, " - post параметры"%>
        </p>
        <%= form.submit "Отфильтровать" %>
    <% end %>
    <br>
    <%= button_to "Очистить", admin_logs_from_controllers_path, method: :get %>
</details>
<hr>

<div>
    <% @logs.each do |log|%>
        <p>
            создан: <%= log.created_at %><br>
            последнее обновление: <%= log.updated_at %><br>
            id: <%= log.id %><br>
            request_id: <%= log.request_id %><br>
            ip: <%= log.remote_ip %><br>
            method: <%= log.method %><br>
            path: <%= log.path %><br>
            get параметры: <%= log.query_string %><br>
            post параметры: <%= log.request_parameters %><br>
        </p>
        <hr>
    <% end %>
</div>

<p>
Страница <%= @current_page %> из <%= @last_page %>
<% unless @current_page == 1 %>
    <%= link_to "Начальная страница", admin_logs_from_controllers_path(filter_params) %>
<% end %>
<% unless @current_page == @last_page %>
    <%= 
    link_to(
      "Конечная страница", 
      admin_logs_from_controllers_path(params: filter_params, current_page: @last_page) 
    )
    %>
<% end %>
</p>

<p>
<% unless @current_page == 1 %>
    <%= 
    link_to(
      "Предыдущая страница(shift + ←)", 
      admin_logs_from_controllers_path(params: filter_params, current_page: @current_page - 1), 
      id: "left" 
    )
    %> 
<% end %>

<span style="white-space:pre">           </span>

<% unless @current_page == @last_page %>
    <%= 
    link_to(
      "Следующая страница(shift + →)", 
      admin_logs_from_controllers_path(params: filter_params, current_page: @current_page + 1), 
      id: "right" 
    )
    %>
<% end %>
</p>

<%= form_with url: admin_logs_from_controllers_path, method: :get do |form| %>
    <%= form.submit "Перейти на " %>
    <%= form.number_field :current_page %>
    <% if params[:id] %>
        <%= form.hidden_field :id,              value: params[:id] %>
        <%= form.hidden_field :ip,              value: params[:ip] %>
        <%= form.hidden_field :get_parameters,  value: params[:get_parameters] %>
        <%= form.hidden_field :method,          value: params[:method] %>
        <%= form.hidden_field :request_id,      value: params[:request_id] %>
        <%= form.hidden_field :path,            value: params[:path] %>
        <%= form.hidden_field :post_parameters, value: params[:post_parameters] %>
        <%= form.hidden_field :exact_match,     value: params[:exact_match] %>
    <% end %>
<% end %>
