<h2>Логи из контроллера</h2>

<p>
<%= link_to 'Вернуться в панель администратора', admin_root_path%>
</p>

<div>
    <% @logs.each do |log|%>
        <p><%= log.attributes.to_json %></p>
        <hr>
    <% end %>
</div>

<p>
Страница <%= @current_page %> из <%= @last_page %>
<% unless @current_page == 1 %>
    <%= link_to "Начальная страница", admin_logs_from_controllers_path %>
<% end %>
<% unless @current_page == @last_page %>
    <%= link_to "Конечная страница", admin_logs_from_controllers_path + "?current_page=#{@last_page}" %>
<% end %>
</p>

<p>
<% unless @current_page == 1 %>
    <%= link_to "Предыдущая страница(shift + ←)", admin_logs_from_controllers_path + "?current_page=#{@current_page - 1}", id: "left" %> 
<% end %>
<span style="white-space:pre">           </span>
<% unless @current_page == @last_page %>
    <%= link_to "Следующая страница(shift + →)", admin_logs_from_controllers_path + "?current_page=#{@current_page + 1}", id: "right" %>
<% end %>
</p>

<%= form_with url: admin_logs_from_controllers_path, method: :get do |form| %>
    <%= form.submit "Перейти на " %>
    <%= form.number_field :current_page %>
<% end %>