<% @products.each do |product| %>
    <div>
    Браковать с: <%= product.date_of_rejection %>
    </div>

    <div>
        PLU: <%= product.plu %>
    </div>

    <div>
        Количество: <%= product.quantity %> <%= product.type_of_quantity %>
    </div>

    <div>
        <%= button_to "Подробнее", product_path(product), method: :get %>
    </div>

    <hr>
    <hr>
<% end %>

<% if @products.size == 0 %>
    <div>Нет сохранных товаров</div>
<% end %>

<div>
    <%= button_to "Вернуться на главную", root_path, method: :get %>
</div>