<% @products.each do |product| %>
    <div>
    Браковать с: <%= product.date_of_rejection %>
    </div>

    <div>
        PLU: <%= product.plu %>
    </div>

    <div>
        Количество: <%= product.quantity %> <%= product.type_of_quantity %>
    </div>

    <div>
        <%= button_to "Подробнее", product_path(product), method: :get %>
    </div>

    <hr>
    <hr>
<% end %>